body {
  width:100%;
  margin: 20px auto 0px auto;
  font-size: 1.2em;
  background: #588c7e;
  text-align: center;
  align-content:center;
}

/*color: #588c7e
color: #f2e394
#f2ae72
#d96459
#8c4646*/
